*{
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  margin-top: 20px;
  width: 95vw;
  height: 80vh;
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 100px;
  width: 100px;
  background-color: gray;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.clock{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-face{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50%;
    background: gray;
    position: relative;
    
}

.hand{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  height: 2px;
  width: 48%;
  background-color: black;
  transform-origin: 100%;
}

.hour-hand{
  width: 30%;
  transform: rotate(90deg);
  transform: 100%;
  transform-origin: center;
}

.min-hand{
  width: 35%;
  transform: rotate(100deg);
  transform: 100%;
}

.second-hand{
  width: 40%;
  transform: rotate(110deg);
  transform: 100%;
} */